* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Product Sans;
}

body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1235px;
  margin: 0 auto;
}

.header-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 367px;
}

.header-logo p {
  padding-left: 10px;
  max-width: 150px;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #5b6574;
}

.header-logo img {
  border-right: 1px solid #bfccdf;
  padding-right: 10px;
}
.header-nav li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #32333d;
}

.header-button {
  width: 230px;
  height: 60px;
  border-radius: 60px;
  border: none;
  background-color: #5eb083;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.button-tick {
  width: 17.99052619934082;
  height: 18;
  padding-right: 10px;
}

.header-nav li a:hover {
  color: #5eb083;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.header-main h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 100%;
  color: #32333d;
  margin-bottom: 25px;
  margin-top: 225px;
}

.header-main-par {
  font-family: Product Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #5b6574;
  margin-bottom: 25px;
}

.header-button-orange {
  width: 250px;
  height: 75px;
  border-radius: 60px;
  border: none;
  color: #ffffff;
  background-color: #ffbb8a;
  font-family: Product Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-main {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -150px;
  z-index: 1;
}

.picture_header {
  width: 48%;
  height: auto;
}

.services {
  display: flex;
  justify-content: space-between;
}

.services img {
  padding-left: 10px;
}

.header-span {
  color: #5eb083;
}

.header-main-button {
  display: flex;

  gap: 40px;
  align-items: center;
}

.header-button-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #cad3e0;
  max-width: 335px;
}

.header-content {
  max-width: 600px;
  margin-right: 50px;
  text-align: left;
}

.header-options {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  gap: 17px;
  overflow: hidden;
}

.main-first-block h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #32333d;
}

.main-first-block p {
  font-family: Product Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #5b6574;
  margin-top: 15px;
}

.main-first-block {
  margin-top: 70px;
}

.main-second-block h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 15px;
}

.main-second-block p {
  font-family: Product Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #5b6574;
  max-width: 505px;
}

.main-second-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.main-third-block {
  display: flex;
  align-items: center;
  gap: 120px;
}

.main-third-block h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 15px;
}

.main-third-block p {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #5b6574;
  max-width: 505px;
  max-height: 99px;
}

.main-forth-block h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 15px;
}

.main-forth-block p {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #5b6574;
  max-width: 505px;
  max-height: 99px;
}

.main-forth-block h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
}

.main-forth-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.relocation-section {
  margin-top: 80px;
}

.photo-section {
  position: relative;
}

.arrow-left {
  position: absolute;
  left: 50px;
  top: 100px;
}

.arrow-right {
  top: 100px;
  position: absolute;
  right: 180px;
}

.relocation-section h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  color: #32333d;
  max-width: 867px;
  margin: 0 auto;
  padding-top: 40px;
}

.relocation-section p {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  margin: 0 auto;
  color: #5b6574;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.photo-section img {
  max-width: 265px;
  max-height: 265px;
}

.photo-section {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

.photo-section-block p {
  color: #5b6574;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  cursor: pointer;
}

.photo-section-block p:hover {
  color: #5eb083;
}

.article-header {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #32333d;
  padding-bottom: 15px;
}

.article-par {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #5b6574;
  margin-bottom: 30px;
}

.visa-article {
  display: flex;
}

.visa-section-header {
  font-weight: 400;
  font-size: 40px;
  line-height: 275%;
  color: #000000;
  padding-top: 10px;
}

.visa-section-par {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #5b6574;
  margin-bottom: 15px;
  max-width: 482px;
}

.visa-article-section {
  background-color: #ffffff;
  margin-right: 15px;
  border-radius: 5%;
  padding-left: 40px;
}

.visa-section-button {
  width: 182px;
  height: 75px;
  top: 3719px;
  left: 386px;
  border-radius: 60px;
  padding-top: 21px;
  padding-right: 36px;
  padding-bottom: 21px;
  padding-left: 36px;
  gap: 10px;
  background-color: #5eb083;
  border: none;
  color: #ffffff;
  margin-bottom: 40px;
}

.visa-section-one {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.visa-section-two {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
.platform-header {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #32333d;
  margin-bottom: 15px;
}

.platform-title-three {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #32333d;
  margin-bottom: 15px;
}

.platform-par {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #5b6574;
  margin-bottom: 15px;
}

.platform-button {
  width: 147px;
  height: 48px;
  border-radius: 60px;
  gap: 10px;
  border: none;
  background-color: #e7eefa;
  text-align: center;
  color: #5b6574;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  align-items: center;
}

.article-button-section {
  display: flex;
  gap: 10px;
}

/*SIDEBAR*/

.sidebar {
  background-color: #32333d;
  border-radius: 20px;
  width: 295px;
  height: 643px;
  position: relative;
  /*
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  */
}
.top-sidebar {
  display: flex;
  flex-direction: column;
}

.image-sidebar {
  width: 84px;
  height: 38.8px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.top {
  margin-left: 30px;
}

.top ul li {
  list-style: none;
  height: 50px;
  width: 90%;
  line-height: 50px;
}

.top ul li a {
  color: #82859e;
  align-items: center;
  text-decoration: none;
}

.visa {
  display: flex;
  gap: 15px;
  width: 221px;
  height: 43px;
  align-items: center;
  padding-left: 10px;
}

.visa:hover {
  background-color: #ffffff;
  border-radius: 12px;
}

.extra {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 221px;
  height: 43px;
  padding-left: 10px;
}

.extra:hover {
  background-color: #ffffff;
  border-radius: 12px;
}

/*
.visa:hover
.docs:hover
.settings:hover
.help:hover
*/

.docs-cont {
  display: flex;
  gap: 15px;
  width: 221px;
  height: 43px;
  align-items: center;
  padding-left: 10px;
}

.docs-cont:hover {
  background-color: #ffffff;
  border-radius: 12px;
}

.help {
  display: flex;
  gap: 15px;
  width: 221px;
  height: 43px;
  align-items: center;
  padding-left: 10px;
}
/*
.help img{
  padding-left: 10px;
}
  */

.help:hover {
  background-color: #ffffff;
  border-radius: 12px;
}

.settings:hover {
  background-color: #ffffff;
  border-radius: 12px;
}

.settings {
  display: flex;
  gap: 15px;
  width: 221px;
  height: 43px;
  align-items: center;
  padding-left: 10px;
}

.notification {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 221px;
  height: 54px;
  top: 4752px;
  left: 377px;
  border-radius: 12px;
  background-color: #272831;
  gap: 14px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  margin-top: 180px;
}

.profile {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 221px;
  height: 54px;
  border-radius: 12px;
  background-color: #272831;

  padding-left: 20px;
  padding-right: 20px;
}

.profile h5 {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #bbbdd3;
}
.profile p {
  font-weight: 400;
  font-size: 11px;
  line-height: 23px;
  color: #82859e;
}

.notification h5 {
  color: #bbbdd3;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
}

.notification p {
  color: #82859e;
  font-weight: 400;
  font-size: 11px;
  line-height: 23px;
}

.bottom-sidebar {
  margin: 0 auto;
}
.button-two {
  margin-top: 25px;
}
/*

.bottom-sidebar {
  position: absolute;
  bottom: 0;
}

*/
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.test-title {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  color: #32333d;
}

.test-par {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #5b6574;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 40px;
}

.left-section-image {
  padding-top: 50px;
  margin-bottom: 20px;
}

.left-blue-par {
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  color: #5b6574;
  max-width: 136px;
  max-height: 57px;
  border-radius: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #e4ecf9;
}

.light-blue-par {
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  color: #5b6574;
  background-color: #f6faff;
  width: 78px;
  height: 57px;
  border-radius: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  gap: 10px;
}

.left-section-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.left-section-par {
  font-weight: 400;
  font-size: 22px;
  line-height: 37px;
  color: #32333d;
  margin-bottom: 30px;
}

.light-blue-second {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #5b6574;
  width: 171px;
  height: 53px;
  border-radius: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  gap: 10px;
  background-color: #f6faff;
  margin-bottom: 25px;
  align-self: flex-start;
  margin-left: 45px;
}

.right-section-one {
  color: #32333d;
  font-weight: 400;
  font-size: 22px;
  line-height: 37px;
}

.right-section-two {
  color: #5b6574;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
}

.testimonials-title {
  color: #32333d;

  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  margin-bottom: 25px;
}

.testimonials {
  display: flex;
  max-width: 1240px;

  justify-content: flex-start;
  background-color: #fff6ef;
  border-radius: 20px;
}

.right-section {
  max-width: 691px;
  margin-top: auto;
  margin-bottom: auto;
}

.global-talent-visa {
  margin-top: 80px;
}

.testimonials-arrow {
  position: relative;
}

.arrow-white {
  position: absolute;
  top: 300px;
  left: -100px;
  cursor: pointer;
}

.arrow-green {
  position: absolute;
  top: 300px;
  right: -100px;
  cursor: pointer;
}

.sidebar-section {
  display: flex;
  margin-top: 35px;
}

.last-notification {
  display: flex;
  align-items: center;
  width: 221px;
  height: 37px;
  border-radius: 12px;
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-left: 20px;
  gap: 14px;
  background-color: #272831;
}

.last-notification p {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #bbbdd3;
}

.sidebar-main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-platform {
  margin-top: 50px;
}

.sidebar-main-top h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #32333d;
}

.sidebar-main {
  width: 945px;
  padding-left: 50px;
  background-color: #ffffff;
  padding-right: 100px;
  padding-top: 70px;
  border-radius: 20px;
}

.sidebar-main-par {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #5b6574;
  padding-top: 20px;
}

.main-top-par {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #bbbdd3;
}

.article-sidebar {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.section-one {
  width: 250px;
  height: 308px;
  border-radius: 20px;
  background-color: #e5edfa;
  padding-left: 30px;
  padding-top: 30px;
}

.section-one-button {
  margin-top: 60px;
  width: 103px;
  height: 51px;
  top: 4655px;
  left: 717px;
  border-radius: 60px;
  padding-top: 21px;
  padding-bottom: 21px;
  gap: 10px;
  background-color: #5eb083;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: white;
}

.section-one-content img {
  margin-bottom: 15px;
}

.section-one-content h2 {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
}

.section-one-content p {
  font-family: Product Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
}

footer {
  background-color: #2a3034;
  display: flex;
  justify-content: space-between;
  max-height: 302px;
  padding-right: 70px;
  padding-left: 40px;
  padding-top: 60px;
  border-radius: 20px;
  padding-bottom: 30px;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  max-height: 69px;
}

.footer-logo p {
  max-width: 163px;
  max-height: 69px;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #747c87;
  padding-left: 10px;
}

.footer-logo img {
  border-right: 1px solid #bfccdf;
  padding-right: 10px;
}

.footer-nav ul {
  list-style: none;
  align-items: start;

  display: flex;
  flex-direction: column;
}

.footer-nav li {
  margin-bottom: 20px;
}

.footer-nav h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  color: #fdfdfd;
  margin-bottom: 10px;
}

.footer-nav li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #707882;
}

.footer-nav li a:hover {
  color: #5eb083;
}

.address p {
  font-family: Product Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0%;
  color: #707882;
  width: 193px;
  height: 46px;
}

.address h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  color: #fdfdfd;
  margin-bottom: 10px;
}

.follow-us h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  color: #fdfdfd;
  margin-bottom: 10px;
}

.footer-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-services img {
  padding-left: 10px;
  margin-bottom: 20px;
}

.faq {
  max-width: 1240px;
  border-radius: 20px;
  margin: 50px auto;
  font-family: sans-serif;
}

details {
  border-radius: 20px;
  background: #ffffff;
  transition: all 0.5s ease;
  max-height: 242px;
  border: none;
  max-width: 1240px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-bottom: 15px;
}

summary {
  cursor: pointer;
  font-family: Product Sans;
  font-weight: 400;
  font-size: 22px;
  line-height: 37px;
  list-style: none;
  position: relative;
}

.details-text {
  font-family: Product Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #325b65;
  margin-top: 10px;
}

summary::after {
  content: "⌄";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: rotate(180deg);
  color: #5eb083;
}

details[open] summary {
  color: #5eb083;
}

.faq h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #32333d;
  margin-bottom: 20px;
}

/*BURGER
*/

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #32333d;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #32333d;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
  transition: all 0.3s ease;
}

.burger.active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger.active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}
@media (max-width: 768px) {
  .header-logo p {
    display: none;
  }

  .header-logo img {
    border: none;
    width: 88px;
    height: 40px;
  }

  .header-content {
    margin: 0 auto;
  }

  .header-content h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    margin-top: 10px;
  }

  .burger {
    display: flex;
    z-index: 101;
  }

  .header-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #5eb083;
    animation: burgerAnimation 0.4s;
  }

  .header-nav.open {
    display: flex;
  }

  .header-nav ul {
    flex-direction: column;
    gap: 20px;
  }

  .main-second-block,
  .main-forth-block {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }

  .main-third-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .header-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
  }

  .header-main {
    display: flex;
    flex-direction: column-reverse;
  }

  .header-logo {
  }

  .picture_header {
    width: 100%;
    height: auto;
    margin-top: 55px;
    margin-left: 20px;
  }

  .container {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-button {
    width: 160px;
    height: 45px;
    gap: 7px;
    border-radius: 60px;
    padding-top: 21px;
    padding-bottom: 21px;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    align-items: center;
  }

  .header-main-button {
    flex-direction: column;
    width: 298px;
    height: 151px;
    gap: 24px;
  }

  .sidebar-section {
    display: none;
  }

  .visa-article {
    flex-direction: column;
  }

  .testimonials {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }
}
